# ==================================================
# SUPABASE
# ==================================================

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# SERVER ONLY - NEVER EXPOSE TO CLIENT
SUPABASE_SECRET_KEY=


# ==================================================
# GOOGLE MAPS
# ==================================================

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=


# ==================================================
# FUTURE PAYMENT
# ==================================================

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=